<main class="form-auth-reg">
  <form class="form-auth-reg__box">
    <div class="form-auth-reg__title">Регистрация</div>

    {{> FormItem data=data }}
    {{> Link href="#" class="btn btn_auth-reg" data-page="chat" text="Зарегистрироваться" }}

    <div class="form-auth-reg__link-auth-reg-box">
      {{> Link href="#" class="form-auth-reg__link-auth-reg" data-page="auth" text="Войти" }}
    </div>
  </form>
</main>
