<div class="profile">
  <main class="profile__box">

    <div class="profile__avatar-box">
      <div class="profile__avatar-img-box">
        <div class="profile__avatar-img">
          <svg class="profile__avatar-img-icon"><use xlink:href="#mask-avatar" /></svg>
        </div>

        <div class="profile__avatar-img-text">Поменять аватар</div>
      </div>

      <div class="profile__avatar-title">Иван</div>
    </div>

    <form class="profile__form">
      <div class="profile__form-item-box">
        <div class="profile__form-item">
          <label class="profile__form-title" for="email">Почта</label>
          <input type="text" class="profile__form-input" name="email" id="email" value="pochta@yandex.ru" disabled>
        </div>

        <div class="profile__form-item">
          <label class="profile__form-title" for="login">Логин</label>
          <input type="text" class="profile__form-input" name="login" id="login" value="ivanivanov" disabled>
        </div>

        <div class="profile__form-item">
          <label class="profile__form-title" for="first_name">Имя</label>
          <input type="text" class="profile__form-input" name="first_name" id="first_name" value="Иван" disabled>
        </div>

        <div class="profile__form-item">
          <label class="profile__form-title" for="second_name">Фамилия</label>
          <input type="text" class="profile__form-input" name="second_name" id="second_name" value="Иванов" disabled>
        </div>

        <div class="profile__form-item">
          <label class="profile__form-title" for="display_name">Имя в чате</label>
          <input type="text" class="profile__form-input" name="display_name" id="display_name" value="Иван" disabled>
        </div>

        <div class="profile__form-item">
          <label class="profile__form-title" for="phone">Телефон</label>
          <input type="text" class="profile__form-input" name="phone" id="phone" value="+7 (909) 967 30 30" disabled>
        </div>
      </div>

      {{> Button id="submitEditProfile" class="btn btn_edit-profile" text="Сохранить" }}
    </form>

    <div class="profile__btn-box">
      <div class="profile__btn">Изменить данные</div>
      <div class="profile__btn">Изменить пароль</div>
      <div class="profile__btn profile__btn_out">Выйти</div>
    </div>
  </main>

  <aside>
    {{> Link
            href="#"
            class="profile__back-btn-box"
            data-page="chat"
            class_icon="profile__back-btn-icon"
            icon="back-btn"
    }}

  </aside>
</div>
